/* ====================================
// css variables
// ==================================== */

:root {
  --text-color: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  max-width: 388px;
  height: 259px;
  flex-shrink: 0;
  border-bottom: 7px solid #d7a1fd;
}

header {
  background-color: #d7a1fd;
}

nav {
  background-color: #000;
  color: #fff;
  font-family: Noto Serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
  padding: 20px;
}

.h1-style {
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  padding: 40px 20px 20px 20px;
}

.header-p {
  color: #fff;
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
  padding-bottom: 20px;
}

h3 {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  padding-bottom: 20px;
}

.single-event-date {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px; /* 100% */
}

.origin {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px; /* 100% */
}

.events,
.origins,
.single-event-date {
  padding: 20px;
}

.events-txt {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding-bottom: 20px;
}

.button-programme {
  color: #d7a1fd;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
  background-color: #000;
  margin: 60px;
  padding: 20px;
}

.citation {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px; /* 93.333% */
  letter-spacing: -1.5px;
  text-transform: uppercase;
  background-color: #98fb00;
  padding: 20px;
}

.citation-author {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
  padding-top: 20px;
}

.news {
  background: #f4ede8;
  padding-bottom: 40px;
}

.news-articles {
  color: #000;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  border-radius: 20px;
  background-color: #fff;
  width: 388px;
  margin: 20px;
}

.articles-text {
  padding: 20px;
}

em {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 22px; /* 146.667% */
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  letter-spacing: -2.5px;
  text-transform: uppercase;
  padding: 20px;
  background-color: #d7a1fd;
}

.opportunities {
  background-color: #fff;
}

.opportunities-title {
  background-color: #98fb00;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px; /* 120% */
  letter-spacing: -1px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 20px;
  margin: 20px 0px;
}

main {
  padding: 20px 0px 20px 0px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: Noto Serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
}

.footer-title {
  color: #313131;
  background-color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 0px 20px;
}

h5 {
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  padding-top: 20px;
}

.mail-comm {
  padding-bottom: 40px;
}
